<div class="jumbotron text-center">
    <h1>csgost - scary simple statistics</h1>
    <p>{{ tagline }}</p>
    <form class="form-inline" role="form" method="post">
	    <select name="team_a" ng-model="team_a">
			<option ng-repeat="team in teams" value = "{{team}}">{{team}}</option>
	    </select>
	    &nbsp;vs&nbsp;
	    <select name="team_b" ng-model="team_b">
			<option ng-repeat="team in teams" value = "{{team}}">{{team}}</option>
	    </select>
	    &nbsp;on&nbsp;			    
	    <select name="map" ng-model="map">
			<option ng-repeat="map in maps" value = "{{map}}">{{map}}</option>
		</select>
	    &nbsp;over the last&nbsp;
	    <input type="number" class="input-small" ng-model="days" min="0">
	    days
		<br>
		<br>
      	<button type="submit" ng-click="getMatches()" class="btn btn-primary">Get History</button>
    </form>
</div>
<table class="table table-striped" style="width:100%">
	<thead style="text-center">
	<tr>
		<th>Date</th>
		<th>Team</th>
		<th></th>
		<th>Team</th>
		<th></th>
		<th>Map</th>
		<th>Event</th>
	</tr>
</thead>
	<tr dir-paginate="match in matches | reverse | itemsPerPage: 25">
	<td>
		<a href={{match.url}}>
			{{ match.date | date:'M/dd/yyyy'}}
		</a>
	</td>
	<td>
		<div ng-switch on="match.team1[0].score > match.team2[0].score">
    		<div ng-switch-when="true">
				<img ng-src="{{'img/team_' + match.team1[0].id + '.svg'}}" err-src="img/unsupported_logo.svg" height="25" width="25"/>
				<a style="color:#4A7B6F; font-weight:bold;" href={{match.team1[0].url}}>
					{{ match.team1[0].name }}
				</a>
    		</div>
    		<div ng-switch-when="false">
				<img ng-src="{{'img/team_' + match.team1[0].id + '.svg'}}" err-src="img/unsupported_logo.svg" height="25" width="25"/>
				<a style="color:#FF5C5C; text-decoration: line-through;" href={{match.team1[0].url}}>
					{{ match.team1[0].name }}
				</a>
    		</div>
		</div>
	</td>
	<td>
		<div ng-switch on="match.team1[0].score > match.team2[0].score">
    		<div ng-switch-when="true">
    			<span style="font-weight: bold;">
    				{{ match.team1[0].score }}
    			</span>
			</div>
    		<div ng-switch-when="false">
    			<span style="">
    				{{ match.team1[0].score }}
    			</span>
			</div>
		</div>
    </td>
	<td>
		<div ng-switch on="match.team1[0].score < match.team2[0].score">
    		<div ng-switch-when="true">
				<img ng-src="{{'img/team_' + match.team2[0].id + '.svg'}}" err-src="img/unsupported_logo.svg" height="25" width="25"/>
				<a style="color:#4A7B6F; font-weight:bold;" href={{match.team2[0].url}}>
					{{ match.team2[0].name }}
				</a>
    		</div>
    		<div ng-switch-when="false">
				<img ng-src="{{'img/team_' + match.team2[0].id + '.svg'}}" err-src="img/unsupported_logo.svg" height="25" width="25"/>
				<a style="color:#FF5C5C;text-decoration: line-through;" href={{match.team2[0].url}}>
					{{ match.team2[0].name }}
				</a>
    		</div>
		</div>
	</td>
	<td>
		<div ng-switch on="match.team1[0].score < match.team2[0].score">
    		<div ng-switch-when="true">
    			<span style="font-weight: bold;">
    				{{ match.team2[0].score }}
    			</span>
			</div>
    		<div ng-switch-when="false">
    			<span style="">
    				{{ match.team2[0].score }}
    			</span>
			</div>
		</div>
    </td>
	<td>{{ match.map }}</td>
	<td>
		<a href={{match.event[0].url}}>
			{{ match.event[0].name }}
		</a>
	</td>
</tr>
</table>
<center><dir-pagination-controls></dir-pagination-controls></center>
<div ng-show="resultCount != -2">
<div ng-switch on="resultCount > 0">
	<div ng-switch-when="true">
		<label style="text-align:center; color:green;">
			found {{ resultCount }} matches
		</label>
	</div>
	<div ng-switch-when="false">
		<label style="text-align:center; color:red;">
			no matches found :(
		</label>
	</div>
</div>
</div>