<div class="jumbotron text-center">
	<h1>csgost team rankings</h1>
	<p>
		{{ tagline }}
	</p>
</div>

<center>
	<table class="table table-striped" style="width:50%">
		<thead style="text-center">
			<tr>
				<th ng-style="{ color: t1color }">Team</th>
			</tr>
		</thead>
		<tr><td>1. fnatic</td><td>1721.65</td></tr>
		<tr><td>2. Astralis</td><td>1689.79</td></tr>
		<tr><td>3. EnVyUs</td><td>1680.35</td></tr>
		<tr><td>4. Virtus.Pro</td><td>1644.43</td></tr>
		<tr><td>5. ex-Titan</td><td>1629.75</td></tr>
		<tr><td>6. Ninjas in Pyjamas</td><td>1625.37</td></tr>
		<tr><td>7. Natus Vincere</td><td>1622.88</td></tr>
		<tr><td>8. Dignitas</td><td>1621.79</td></tr>
		<tr><td>9. Luminosity Gaming</td><td>1615.64</td></tr>
		<tr><td>10. FaZe Clan</td><td>1594.89</td></tr>
	</table>
</center>