<div class="jumbotron text-center">
	<h1>csgost team rankings</h1>
	<p>
		{{ tagline }}
	</p>
</div>

<center>
	<table class="table table-striped" style="width:50%">
		<thead style="text-center">
			<tr>
				<th ng-style="{ color: t1color }">Team</th>
			</tr>
		</thead>
		1721.65 fnatic
1689.79 astralis
1680.35 nv
1644.43 vp
1629.75 extitan
1625.37 nip
1622.88 navi
1621.79 dig
1615.64 luminosity
1594.89 faze
1592.64 clg
1589.84 liquid
1579.14 mouz
1574.64 f3
1574.19 c9
		<tr><td>1. fnatic</td></tr>
		<tr><td>2. Astralis</td></tr>
		<tr><td>3. EnVyUs</td></tr>
		<tr><td>4. Virtus.Pro</td></tr>
		<tr><td>5. ex-Titan</td></tr>
		<tr><td>6. Ninjas in Pyjamas</td></tr>
		<tr><td>7. Natus Vincere</td></tr>
		<tr><td>8. Dignitas</td></tr>
		<tr><td>9. Luminosity Gaming</td></tr>
		<tr><td>10. FaZe Clan</td></tr>
	</table>
</center>